<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Squadfree Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="static/css/about.css" rel="stylesheet">

</head>

<body>
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">







      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-warning">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto active" href="about.html">About Us</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        
      </nav><!-- .navbar -->






      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <p class="tittle text-center mt-5">About Us</p>
        <p>
          We keenly focus on offering affordable and accessible meal plans in order to reduce malnutrition in children. Additionally, providing customised 
          diet plans for the children under five years
          to eradicate the malnutrition especially in rural areas. This helps to 
           incorporate healthy eating habits in them and provides them with the best possible start in life.
          </p>
      </div>

      <div class="row">


        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Customised Diet Plan</a></h4>
            <p class="description">
              Diet Plan provided on the availability
               and affordability of the resources in the specified rural region.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Effective Goal</a></h4>
            <p class="description">
              The solution targets children under 5 to maintain the 
              BMI range and to improve the general health
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Recipes based on BMI</a></h4>
            <p class="description">
              The recipes will be simple and easy to prepare,
               using locally available ingredients.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Natural Foods</a></h4>
            <p class="description">
              Meets the nutritional demands of the child
               using natural alternatives instead of the high priced products
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

      <!-- Vendor JS Files -->
      <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
      <script src="static/vendor/aos/aos.js"></script>
      <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="static/vendor/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="static/js/main.js"></script>
    
    </body>
    
    </html> 