{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
  
  
  
  
  
  
  
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark mynav  ">
          <ul>
              <li><img src="static/images/logo.png"></li>
            <li><a class="nav-link scrollto " href="home">Home</a></li>
            <li><a class="nav-link scrollto active " href="about">About Us</a></li>
            <li><a class="nav-link scrollto" href="#contact">Get Started</a></li>
          </ul>
          
        </nav><!-- .navbar -->
  
  
  
  
  
  
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h1 class="tittle text-center mt-5">About Us</h1>
          <p class="our_para">
            We keenly focus on offering affordable and accessible meal plans in order to reduce malnutrition in children. Additionally, providing customised 
            diet plans for the children under five years
            to eradicate the malnutrition especially in rural areas. This helps to 
             incorporate healthy eating habits in them and provides them with the best possible start in life.
            </p>
        </div>
  
        <div class="row">
  
  
          <div class="col-6 col-md-6 col-lg-3 d-flex  mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon">
               
              </div>
              <h4 class="title"><a href="">Customised Diet Plan</a></h4>
              <p class="description">
                Diet Plan provided on the availability
                 and affordability of the resources in the specified rural region.
              </p>
            </div>
          </div>
  
          <div class="col-6 col-md-6 col-lg-3 d-flex  mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"></div>
              <h4 class="title"><a href="">Effective Goal</a></h4>
              <p class="description">
                The solution targets children under 5 to maintain the 
                BMI range and to improve the general health
              </p>
            </div>
          </div>
  
          <div class="col-6 col-md-3 d-flex  mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up">
                <div class="icon">
             
                </div>
                <h4 class="title"><a href="">Recipes based on BMI</a></h4>
                <p class="description">
                  The recipes will be simple and easy to prepare,
                  using locally available ingredients.
                </p>
              </div>
            </div>
  
          <div class="col-6 col-md-6 col-lg-3 d-flex  mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon">
               
              </div>
              <h4 class="title"><a href="">Natural Foods</a></h4>
              <p class="description">
                Meets the nutritional demands of the child
                 using natural alternatives instead of the high priced products
              </p>
            </div>
          </div>
  
        </div>
  
      </div>
    </section><!-- End Services Section -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a13dbaee9c.js" crossorigin="anonymous"></script>
      </body>
</html>