{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/usermain.css' %}">
    </head>
    <body>
    
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your BMI Category is </h1>
                    <h1 class="display-4 fw-bolder">{{ category }} </h1>
                </div>
            </div>
        </header>



        <!--Food items-->
         <div class="container px-4 px-lg-5 my-5 bg-warning">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Recommended Food Items : </h1>
                    <p class="lead fw-normal text-dark-50 mb-0">
                      {{ food_items }}
                    </p>

                </div>
            </div>
            <div class="container px-4 px-lg-5 my-5 bg-warning">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">General Instructions:  </h1>
                    <p class="lead fw-normal text-dark-50 mb-0">
                      {{ instructions }}
                    </p>

                </div>
            </div>
            <div class="container px-4 px-lg-5 my-5 bg-warning">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Foods to be eaten in higher quantities for the underweight category:
                    </h1>
                    <p class="lead fw-normal text-dark-50 mb-0">
                      {{ mal_instructions }}
                    </p>

                </div>
            </div>



        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                    {% for o1 in obj1 %}
                <div class="row  row-cols-6  justify-content-center">
               
                 
                    <div class="col-6 mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img src="{% static 'images/'|add:o1.recipe_name|add:'.png' %}" alt="" class="card-img-top">
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{o1.recipe_name}}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">See Steps</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>